body{
  background-image: url("../images/Game-of-Thrones-Poster.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  color: white;
}

.center {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  justify-content: center
}

.center_logo {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    justify-content: center
  }

#dash{
    display: inline-block;
    margin: 5px;
  }

h2{
  margin-bottom: 2rem;
}

.container_3{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  justify-content: center
}